.node {
  width: 25px;
  height: 25px;
  background-color: inherit;
  outline: 1px solid rgba(0, 0, 66, 0.75);
  display: inline-block;
}

.node-finish {
  background-color: rgb(0, 0, 0);
}

.node-start {
  background-color: rgb(255, 255, 255);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #000000bf;
    border-radius: 100%;
  }

  50% {
    background-color: #fcfcfc;
  }

  75% {
    transform: scale(1.2);
    background-color: #4e4d4d;
  }

  100% {
    transform: scale(1);
    background-color: whitesmoke;
  }
}

.node-wall {
  background-color: rgb(0, 0, 0);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f7f7f7;
  }

  50% {
    transform: scale(1.2);
    background-color: #6efd9ecb;
  }

  100% {
    transform: scale(1);
    background-color: rgb(99, 98, 98);
  }
}
